#country-flag {
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  width: 100%;
}

.country-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.dark-detail-background {
  background-color: var(--very-dark-blue-dark);
}

.light-detail-background {
  background-color: var(--very-light-gray);
}

#border-list {
  display: flex;
  flex-wrap: wrap;
}

#border-list p {
  padding: 1px 10px;
  border-radius: var(--border-radius);
  margin: 0 5px;
}

#border-list p:first-child {
  margin-left: 0;
}

.loading {
  text-align: center;
  font-size: var(--font-size-detailpage);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.country-detail__info {
  width: 100%;
}

.country-detail__first-group {
  margin-top: 1rem;
}

#border-countries,
.country-detail__second-group {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .country-detail {
    flex-direction: row;
  }

  .country-detail__info {
    width: 50%;
  }

  #country-flag {
    width: 40%;
    margin-right: 5%;
    margin-bottom: 0;
  }
}
