@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-dark: hsl(207, 26%, 17%);
  --very-dark-blue-ligth: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --padding: 10px;
  --border-radius: 4px;
  --font-size-homepage: 14px;
  --font-size-detailpage: 16px;
  --separate-space: 24px;
}

.dark-theme {
  color: var(--white);
}

.light-theme {
  color: var(--very-dark-blue-ligth);
}

.App {
  /* background-color: red; */
}
